<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>url predection</title>

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
	<div class="container">
		<div class="top">
			<h1 id="title" class="hidden"><span id="logo">Pishing  <span>website prediction </span></span></h1>
		</div>
		<div class="login-box animated fadeInUp">
			<form action="{{url_for('predict')}}" method="get">
			<div class="box-header">
				<h2>Log In</h2>
			</div>
			<label for="username">URL</label>
			<br/>
			<input type="text" id="username">
			<br/>
			<label for="password">Prediction</label>
			<br/>
			<input type="password" id="password">
			<br/>
			<button type="submit">submit</button>
			<br/>
			<a href="#"><p class="small"></p></a>
			<p class="predict">{{ pred }}</p>
			</form>
		</div>
	</div>
</body>



</html>